.AboutMe {
    min-height: 100vh;
    width: 100%;
}
.layout {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    width: 100%;
    height: auto; 
    justify-items: center; 
    align-items: center;
}
.pic {
    width: 100%; 
    max-width: 18vw;
    height: auto;
    object-fit: cover; 
    border: 4px solid rgb(62, 241, 62);
    border-radius: 10%;
    image-rendering: crisp-edges;
}
@media (max-width: 768px) {
    .layout {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto; 
    }
    
    .pic {
        width: 100%; 
        max-width: 200px;
        border: 2px solid rgb(62, 241, 62);
    }
}


.white-text {
    color: white;
}

.green-text {
    color:  rgb(62, 241, 62);
}

.text-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    color: white;
}

.text-container div, 
.text-container h5 {
    width: 50%; 
}

h1, h5 {
    margin: 0; 
}

.left-text {
    text-align: left;
}



@media (max-width: 768px) {
    .text-container {
        flex-direction: column; 
        align-items: center;
    }

    .text-container div, 
    .text-container h5 {
        width: 90%; 
        text-align: center;
    }
    .text-container h5 {
        margin-top: 50px;
    }
}