.Projects {
    min-height: 100vh;
}

.white-text {
    color: white;
}


.ProjectCarousel {
    width: 80%;
    margin: auto;
}
  
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}